@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Pairing Matrix</title>
</head>
<body>
    <div>
        <h1>
            Pairing Matrix
        </h1>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>